@import "../../assets/css/varies";

.pCard {
  padding: 16px 16px 8px 16px;
  margin-bottom: 8px;
  font-size: .9rem;
  background: white;
  box-shadow: 0 0 1rem .1rem rgba(0, 0, 0, .05);
  .cardTopBar {
    position: relative;
    font-size: 12px;
    height: 32px;
    .topic {
      background: $--background-deep;
      padding: 4px 12.8px;
      border-radius: 16px;
      color: $--theme-blue;
    }
    .operation {
      font-size: 12px;
      position: absolute;
      display: flex;
      align-items: center;
      right: 0;
      top: 0;
      fill: gray;
      color: gray;
      .extraInfo {
        margin-right: 9.6px;
      }
    }
  }
  .url {
    background-color: $--theme-gray-light4;
    display: flex;
    border-radius: 2px;
    overflow: hidden;
    margin-bottom: 8px;
    .url-img {
      height: 65px;
      width: 65px;
      border-radius: 2px;
      flex-shrink: 0;
    }
    .url-side {
      position: relative;
      max-height: 65px;
      flex-grow: 1;
      padding: 8px;
      line-height: 18px;
      word-break: break-word;
      overflow: hidden;
      .url-title {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -moz-box-orient: vertical;
        -ms-box-orient: vertical;
        box-orient: vertical;
        -webkit-line-clamp: 2;
        line-clamp: 2;
        overflow: hidden;
      }
      .url-domain {
        font-size: .75rem;
        color: $--theme-gray;
        position: absolute;
        bottom: 3px;
      }
    }
  }
  .content {
    margin-bottom: 8px;
    white-space: pre-wrap;
    word-break: break-word;
  }
  .author {
    height: 30px;
    line-height: 30px;
    display: flex;
    align-items: center;
    position: relative;
    font-size: 12px;
    .avatar {
      height: 1.5rem;
      width: 1.5rem;
      min-height: 24px;
      min-width: 24px;
      border-radius: 50%;
      margin-right: .3rem;
      flex-shrink: 0;
    }
    &-name {
      &:after {
        margin-left: 4.8px;
        color: gray;
        content: '发布'
      }
    }
    .author-append {
      @extend .author-name:after;
      position: absolute;
      right: 0;
      margin-right: 3px;
    }
  }
  .shareBar {
    margin-top: .3rem;
  }
}
