@import "../../assets/css/common";
@import "../../assets/css/varies";

.searchResult {
  @extend .vuxfy;
  height: 100vh;
  .results {
    padding: 1rem;
    .hots {
      .tag {
        display: inline-block;
        background: $--background-deep;
        padding: 0 1rem 0 1rem;
        margin: .4rem .5rem;
        border-radius: .3rem;
        height: 2rem;
        line-height: 2rem;
        .icon-huo {
          color: rgb(215, 0, 0);
          //使用偏移的方式使得空出的位置不向右挤，居中感更好
          position: relative;
          left: -0.2rem;
        }
      }
      .more {
        @extend .tag;
        color: rgba(215, 0, 0, .7);
        background: rgba(215, 0, 0, .12);
      }
    }
  }

}

